<footer class="max-w-[84rem] mx-auto px-5">
  <div class="dark:text-slate-300 gap-y-5 grid md:grid-cols-[2fr_3fr] md:py-8 py-5 text-slate-700">
    <div class="md:max-w-72 pr-5">
      <h6 class="dark:text-indigo-600 font-bold mb-2 md:mb-3 text-indigo-700">
        Acerca de
      </h6>
      <p>
        Red social para crear, publicar y compartir contenido de diferente índole
        en formato de artículos.
      </p>
    </div>
    <div class="gap-x-5 grid grid-cols-2">
      <div>
        <h6 class="dark:text-indigo-600 font-bold mb-2 md:mb-3 text-indigo-700">
          Enlaces
        </h6>
        <ul>
          <li>Inicio</li>
          <li>Autores</li>
          <li>Publicaciones</li>
          <li><span class="dark:text-indigo-600 pr-1 text-indigo-700">●</span> Más recientes</li>
          <li><span class="dark:text-indigo-600 pr-1 text-indigo-700">●</span> Más valoradas</li>
        </ul>
      </div>
      <div>
        <h6 class="dark:text-indigo-600 font-bold mb-2 md:mb-3 text-indigo-700">
          Categorías
        </h6>
        <ul>
          <li>Economía</li>
          <li>Entretenimiento</li>
          <li>Salud</li>
          <li>Tecnología</li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="border-slate-400 dark:border-slate-500">
  <div class="flex font-bold items-center justify-between flex-col-reverse md:flex-row opacity-75 py-5 text-xss">
    <a routerLink="/" class="flex items-center">
      <span class="bg-indigo-700 flex items-center justify-center px-2.5 py-1 rounded-lg text-white">
        Pur
      </span>
      <span class="dark:text-slate-200 text-indigo-700 px-1.5">
        Post
      </span>
    </a>
    <p class="mb-5 md:mb-0 text-center text-slate-500">
      © <span>{{ date | date: "yyyy" }}</span> 
      Aprendiendo y programando | Desarrollado por 
      <a
        class="dark:text-indigo-600 text-indigo-700"
        href="https://github.com/misicode/Purpost_Blog-Client"
        target="_blank" rel="noreferrer"
      >
        MISICODE
      </a>
    </p>
  </div>
</footer>