<div class="before:bg-indigo-700 card group hover:!border-2 hover:!border-indigo-600 hover:border-solid md:!pr-16 overflow-hidden relative z-0">
  <a [routerLink]="post.idPost">
    <div class="gap-x-8 gap-y-6 grid grid-rows-2 md:grid-cols-[1fr_2fr] md:grid-rows-1">
      <div class="relative -z-10">
        <img
          [src]="post.image.url"
          [alt]="post.image.name"
          class="absolute h-full object-center object-cover rounded-lg w-full"
        />
      </div>
      <div>
        <h3 class="dark:group-hover:text-indigo-600 font-medium group-hover:text-indigo-700 mb-3">
          {{ post.title }}
        </h3>
        <p class="card-post-body dark:text-slate-400 line-clamp-3 mb-4 md:line-clamp-6 overflow-hidden text-slate-600 text-sms">
          {{ post.body }}
        </p>
        <div class="dark:text-slate-400 flex justify-between text-slate-600 text-xss">
          <div class="flex">
            <div class="h-6 overflow-hidden rounded-full w-6">
              <svg
                class="bg-indigo-100 h-full text-indigo-700 w-full"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
              </svg>
            </div>
            <p class="font-medium ml-3">
              {{ post.user.names }}
            </p>
          </div>
          <p>
            {{ post.createdAt | date:"MMMM d, y" }}
          </p>
        </div>
      </div>
    </div>
    <div class="absolute bg-indigo-700 flex h-10 items-center justify-center overflow-hidden right-0 rounded-bl-[2rem] rounded-tr-bl top-0 w-10">
      <div class="mr-[-.25rem] mt-[-.25rem] text-white">→</div>
    </div>
  </a>
</div>