<section>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <div class="card gap-y-8 grid max-w-sm mx-auto">
      <h2 class="font-bold pb-2 text-3xl text-center text-indigo-700">
        BIENVENIDO
      </h2>
      <div>
        <label for="account">
          Usuario o correo electrónico
        </label>
        <div class="input-item-box">
          <input 
            class="input-item"
            formControlName="account"
            id="account"
            name="account"
            type="text"
            required
          />
        </div>
      </div>
      <div>
        <label for="password">
          Contraseña
        </label>
        <div class="input-item-box">
          <input
            class="input-item"
            formControlName="password"
            id="password"
            name="password"
            type="password"
            required
          />
        </div>
      </div>
      <div>
        <button
          class="btn-success disabled:bg-indigo-400 disabled:hover:bg-indigo-400 w-full"
          [disabled]="loginForm.invalid"
          type="submit"
        >
          Ingresar
        </button>
      </div>
      
      <p class="border-indigo-100 border-solid border-t-2 pt-6 text-center text-smvs">
        ¿No tienes una cuenta?
        <a routerLink="../register" class="font-medium text-indigo-700 hover:text-indigo-500">
          Regístrate
        </a>
      </p>
    </div>
  </form>
</section>
<app-spinner [show]="loading"></app-spinner>