<header class="pt-8 px-16">
  <div class="flex items-center justify-between pb-7">
    <a routerLink="/" class="font-bold">
      <span class="bg-indigo-700 rounded-lg text-white px-4 py-2">Egg</span>
      <span class="text-indigo-700 px-1.5">News</span>
    </a>
    <div>
      <a routerLink="./auth/login">
        <button class="btn-cancel">Iniciar sesión</button>
      </a>
      <a routerLink="./auth/register">
        <button class="btn-success">Registrarse</button>
      </a>
    </div>
    @if (isAuthenticated) {
      <div class="user-menu">
        <div class="cursor-pointer h-9 overflow-hidden rounded-full w-9" id="user-dropdown-menu-btn">
            <svg
              class="bg-indigo-100 h-full text-indigo-700 w-full"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
            </svg>
        </div>
        <div class="bg-indigo-50 mt-2 rounded-lg w-40" id="user-dropdown-menu">
          <a href="#">Mi perfil</a>
          <a href="#">Mis noticias</a>
          <a href="#">Cerrar sesión</a>
        </div>
      </div>
    }
  </div>
</header>