@import "tailwindcss/tailwind.css";
@import "ngx-toastr/toastr";

button {
  @apply rounded-lg text-xss;
  padding: .75rem 1.25rem;
  &:hover {
    transition: all 300ms ease-out;
  }
}
section {
  padding: 3rem 4rem;
}
.btn-cancel {
  @apply bg-slate-200;
  margin-right: .5rem;
  &:hover {
    @apply bg-slate-300;
  }
}
.btn-success {
  @apply bg-indigo-700 text-white;
  &:hover {
    @apply bg-indigo-500;
  }
}
.card {
  @apply bg-white border-2 border-indigo-100 border-solid rounded-lg;
  padding: 2rem;
}
.input-item {
  @apply block border-0 focus:outline-0 rounded text-slate-700 text-xss;
  padding: .5rem .625rem;
  width: 100%;
}
.input-item-box {
  @apply border-2 border-slate-200 border-solid focus-within:border-indigo-700 rounded;
  margin-top: .5rem;
}
.skeleton-loader {
  display: block !important;
  margin-bottom: 0 !important;
}
.toast-container {
  .ngx-toastr {
    border-radius: .4rem;
    box-shadow: none;
  }
  .ngx-toastr:hover {
    box-shadow: none;
  }
}