@import "tailwindcss/tailwind.css";

button {
  @apply rounded-lg text-xss;
  padding: .75rem 1.25rem;

  &:hover {
    transition: all 300ms ease-out;
  }
}
.btn-cancel {
  @apply bg-slate-200;
  margin-right: .5rem;

  &:hover {
    @apply bg-slate-300;
  }
}
.btn-success {
  @apply bg-indigo-700 text-white;

  &:hover {
    @apply bg-indigo-500;
  }
}